*
    font-family "Proxima Nova"

@import "blocks/*"

body
    font-family sans-serif

#main_container
    padding-top 2em
    padding-right 14em
    padding-left 14em
   

#main_container h1, #main_container input[type=text] input[type=button]
    display block
    border-radius 0
    border-radius none
    padding 10px 20px

h1
    font-size 1.5em
    margin 0.75em auto !important
    font-weight bold
    text-align center

h4
    text-transform uppercase
    color #fff

input[type=text]
    width 15em
    margin 0 auto !important
    padding 0.5em
    border 0.12em solid gray
    border-radius 0.5em

input[type=button]
    width 15em
    margin 0 auto !important
    padding 0.5em

ul
    list-style-type none
    li
        &:nth-child(2n
            & + 1)
                background-color aliceblue

#searchResults
    width 60%
    position relative
    margin 0 auto



.name_li
    font-weight bold
    text-align center

.teaser_li
    padding 10px

#myinput
    text-align center
#mybutton
    text-align center
@keyframes
    nodeInserted

